<!DOCTYPE html>
<html>
    <head>
        <title>{{ main_title }} Frontend</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}" />
        <script type="text/javascript">
            function autoRefresh() {
                document.location.href = "/";
            }
            function pressBell() {
                document.forms.form1["bell-button"].value = "1";
                document.forms.form1.submit();
            }
            window.setTimeout(autoRefresh, 15 * 1000);
        </script>
    </head>
    <body>
        <h1>{{ main_title }} Frontend</h1>

        <h2>Current State</h2>
        <form action="/" method="post" name="form1">
            <div id="preview" class="{{ current_state }}">
                <div class="top">Video</div>
                <div class="middle">
                    <input type="hidden" name="bell-button" value="">
                    <a href="#" onclick="pressBell();">&#x2B24;</a>
                </div>
                <div class="bottom">Anruf</div>
            </div>
            <p>
                Current state: <strong>{{ current_state|upper }}</strong>
            </p>
            <p>
                Set new state:
                <select name="new-state" size="5">
                    <option value="none">None</option>
                    <option value="call">Call</option>
                    <option value="video">Video</option>
                    <option value="request">Request</option>
                    <option value="coffee">I need a coffee&hellip;</option>
                </select>
                <button type="submit" name="set-state">Set</button>
            </p>
        </form>

        <h2>Registered Remotes</h2>
        <form action="/" method="POST">
            <p>
                Add or update remote endpoint:
                <input type="text" name="new-remote" value="{{ client_ip }}">
                <button type="submit" name="add-remote" value="1">Add</button>
            </p>
            {% if remotes|length %}
            <table>
                <tr>
                    <th>No.</th>
                    <th>IP endpoint</th>
                    <th>Expiration</th>
                    <th>Actions</th>
                </tr>
                {% for no, remote in remotes %}
                <tr>
                    <td>{{ no + 1 }}</td>
                    <td>{{ remote.ip_addr }}:{{ remote.port }}</td>
                    <td>{{ remote.expiration }}</td>
                    <td>
                        <button type="submit" name="del-remote" value="{{ remote.ip_addr }}">Remove</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                <p class="error">No remotes currently registered.</p>
            {% endif %}
        </form>

    </body>
</html>
