<!DOCTYPE html>
<html>
    <head>
        <title>{{ main_title }} Frontend</title>
    </head>
    <body>
        <h1>{{ main_title }} Frontend</h1>

        <h2>Current State</h2>
        <form action="/" method="post">
            <p>
                Current state: <strong>{{ current_state|upper }}</strong>
            </p>
            <p>
                Set new state:
                <select name="new-state">
                    <option name="none">None</option>
                    <option name="call">Call</option>
                    <option name="video">Video</option>
                    <option name="request">Request</option>
                    <option name="coffee">I need a coffee&hellip;</option>
                </select>
                <button name="set-state">Set</button>
            </p>
        </form>

        <h2>Registered Remotes</h2>
        <form action="/" method="POST">
            <p>
                Add or update remote endpoint:
                <input type="text" name="new-remote" value="{{ client_ip }}">
                <button name="add-remote" value="1">Add</button>
            </p>
            <table border="1">
                <tr>
                    <th>No.</th>
                    <th>IP endpoint</th>
                    <th>Expiration</th>
                    <th>Actions</th>
                </tr>
                {% for no, remote in remotes %}
                <tr>
                    <td>{{ no + 1 }}</td>
                    <td>{{ remote.ip }}:{{ remote.port }}</td>
                    <td>{{ remote.expiration }}</td>
                    <td>
                        <button name="del-remote" value="{{ remote.ip }}">Remove</button>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">No remotes registered.</td>
                </tr>
                {% endfor %}
            </table>
        </form>

    </body>
</html>
