{% extends "base.html" %}

{% block title %}State{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="container" role="main">

        <h1>System Overview</h1>

        <div class="row gap-4">

            <div class="col col-md-auto">
                <h3>Live Preview</h3>
                <div id="ninelight" class="{{ nl_instance.get_state() }}">
                    <div class="top">Video</div>
                    <div class="middle">
                        <a href="{{ request.path }}?button">&#x2B24;</a>
                    </div>
                    <div class="bottom">Anruf</div>
                </div>
            </div>

            <div class="col">
                <h3>Current State</h3>

                <div class="list-group">
                    {% for name, text, icon, disabled in state_mapping %}
                        <a href="{{ request.path }}?set={{ name }}"
                            class="list-group-item list-group-item-action {% if nl_instance.get_state() == name %}active{% endif %} {% if disabled %}disabled{% endif %}">
                            <i class="fa {{ icon }}"></i>&ensp;{{ text }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="col">
                <h3>System State</h3>

                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td class="fw-bold">Hostname, IP:</td>
                            <td>{{ hostname }} ({{ ip_addr }})</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Software version:</td>
                            <td>{{ sw_version }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Python version:</td>
                            <td>{{ py_version }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Running since:</td>
                            <td>{{ nl_instance.start_time.astimezone() }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Total state changes:</td>
                            <td>{{ nl_instance.total_state_changes }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Attached remotes:</td>
                            <td>{{ nl_instance.remotes|length }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">TCP listen port:</td>
                            <td>{{ port_backend }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">TCP remote port:</td>
                            <td>{{ port_remote }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
