{% extends "base.html" %}

{% block content %}
    <div class="container" role="main">

        <h1>System Overview</h1>

        <div class="row">

            <div class="col col-md-auto">
                <h3>Live Preview</h3>
                <div id="ninelight" class="{{ current_state }}">
                    <div class="top">Video</div>
                    <div class="middle">
                        <a href="/state?button">&#x2B24;</a>
                    </div>
                    <div class="bottom">Anruf</div>
                </div>
            </div>

            <div class="col">
                <h3>Current State</h3>

                <div class="list-group">
                    <a href="/state?new=none"
                        class="list-group-item list-group-item-action {% if current_state == 'none' %}active {% endif %}">
                        None
                    </a>
                    <a href="/state?new=call"
                        class="list-group-item list-group-item-action {% if current_state == 'call' %}active {% endif %}">
                        Call
                    </a>
                    <a href="/state?new=video"
                        class="list-group-item list-group-item-action {% if current_state == 'video' %}active {% endif %}">
                        Video
                    </a>
                    <a href="/state?new=request"
                        class="list-group-item list-group-item-action {% if current_state == 'request' %}active {% endif %}{% if current_state != 'video' %}disabled {% endif %}">
                        Request
                    </a>
                    <a href="/state?new=coffee"
                        class="list-group-item list-group-item-action {% if current_state == 'coffee' %}active {% endif %}{% if current_state != 'none' %}disabled {% endif %}">
                        I need a coffee&hellip;
                    </a>
                </div>
            </div>

            <div class="col">
                <h3>System State</h3>

                <div class="row">
                    <div class="col"><strong>Running since:</strong></div>
                    <div class="col">{{ stat["start_time"].astimezone() }}</div>
                </div>
                <div class="row">
                    <div class="col"><strong>Total state changes:</strong></div>
                    <div class="col">{{ stat["state_changes"] }}</div>
                </div>
                <div class="row">
                    <div class="col"><strong>Attached remotes:</strong></div>
                    <div class="col">{{ stat["num_remotes"] }}</div>
                </div>
                <div class="row">
                    <div class="col"><strong>Listen port:</strong></div>
                    <div class="col">{{ stat["listen_port"] }}</div>
                </div>
                <div class="row">
                    <div class="col"><strong>Remote port:</strong></div>
                    <div class="col">{{ stat["remote_port"] }}</div>
                </div>
            </div>

        </div>

        <!--<script type="text/javascript">
            function autoRefresh() {
                document.location.href = "/";
            }
            function pressBell() {
                document.forms.form1["bell-button"].value = "1";
                document.forms.form1.submit();
            }
            window.setTimeout(autoRefresh, 15 * 1000);
        </script>-->

    </div>
{% endblock %}
