{% extends "base.html" %}

{% block title %}State{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="container" role="main">

        <h1>System Overview</h1>

        <div class="row">

            <div class="col col-md-auto">
                <h3>Live Preview</h3>
                <div id="ninelight" class="{{ current_state }}">
                    <div class="top">Video</div>
                    <div class="middle">
                        <a href="{{ request.path }}?button">&#x2B24;</a>
                    </div>
                    <div class="bottom">Anruf</div>
                </div>
            </div>

            <div class="col">
                <h3>Current State</h3>

                <div class="list-group">
                    <a href="{{ request.path }}?new=none"
                        class="list-group-item list-group-item-action {% if current_state == 'none' %}active {% endif %}">
                        <i class="fa fa-ban"></i>&ensp;
                        None
                    </a>
                    <a href="{{ request.path }}?new=call"
                        class="list-group-item list-group-item-action {% if current_state == 'call' %}active {% endif %}">
                        <i class="fa fa-phone"></i>&ensp;
                        Call
                    </a>
                    <a href="{{ request.path }}?new=video"
                        class="list-group-item list-group-item-action {% if current_state == 'video' %}active {% endif %}">
                        <i class="fa fa-video-camera"></i>&ensp;
                        Video
                    </a>
                    <a href="{{ request.path }}?new=request"
                        class="list-group-item list-group-item-action {% if current_state == 'request' %}active {% endif %}{% if current_state != 'video' %}disabled {% endif %}">
                        <i class="fa fa-bell"></i>&ensp;
                        Request
                    </a>
                    <a href="{{ request.path }}?new=coffee"
                        class="list-group-item list-group-item-action {% if current_state == 'coffee' %}active {% endif %}{% if current_state != 'none' %}disabled {% endif %}">
                        <i class="fa fa-coffee"></i>&ensp;
                        I need a coffee&hellip;
                    </a>
                </div>
            </div>

            <div class="col">
                <h3>System State</h3>

                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td class="fw-bold">Software version:</td>
                            <td">{{ sw_version }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Python version:</td>
                            <td">{{ py_version }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Running since:</td>
                            <td>{{ stat["start_time"].astimezone() }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Total state changes:</td>
                            <td>{{ stat["state_changes"] }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">Attached remotes:</td>
                            <td>{{ stat["num_remotes"] }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">TCP listen port:</td>
                            <td>{{ stat["listen_port"] }}</td>
                        </tr>
                        <tr>
                            <td class="fw-bold">TCP remote port:</td>
                            <td>{{ stat["remote_port"] }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
